<h1><%= @text %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_formatted_s(:long_ordinal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
